
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    position: relative;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay-text {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #8b0f0f;
    
  }
  .lay-text {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
  }
  
  /* //234// */
  .container {
    position: relative;
    display: inline-block;
  }
  
  .centered-button {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 6px 6px;
    font-size: 16px;
   border-color: khaki;
    color: #8b0f0f;
    border: 10px;
    border-radius: 3px;
    border-style: solid;
    cursor: pointer;
  }
  h1{
    font-family: fantasy;
    
  }
  .myButton {
    background-color:khaki;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
  }